Source/NationalCriminal/NationalCriminal/Service References/CriminalWCFService/SearchCriminalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NationalCriminal.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NationalCriminal.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultResponse" nillable="true" type="tns:ResultResponse" />
</xs:schema>