Source/NationalCriminal/NationalCriminal/Service References/CriminalWCFService/SearchCriminalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1935/SearchCriminalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NationalCriminal.WCF" />
  <xs:element name="SearchCriminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ageFrom" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ageTo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="heightFrom" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="heightTo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="weightFrom" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="weightTo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="NationalityId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCriminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NationalCriminal.WCF" minOccurs="0" name="SearchCriminalResult" nillable="true" type="q1:ResultResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>